<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <apikeys>
    <add key="https://www.nuget.org" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAbQfMwgnE1keljTrYzfHTPQAAAAACAAAAAAAQZgAAAAEAACAAAADgwCEF+PKE5qO+Nh7CnmSOmnLN8V2TFQFcMlewvpIsmAAAAAAOgAAAAAIAACAAAACLyyjJVEia25vVQjwwUVrvdMXtycG7ZE4OAgNP5vXNlTAAAADG8ZjZn82Dc82DRQiLnt+0T+RVxkK4xDZ4Pq1Yh5Fge5mjCLJQfSYc7zxpdeyCU+xAAAAAaLm0nh+fkZJl2uzEvpkTc33lXGaByjHcQSV1XE6PuF7Dm83Ebg8X+9zMEU7FGONZRkhpZdSSWnnmUpLbiHW3mg==" />
    <add key="https://www.nuget.org/api/v2/package" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAwLhaCEjdm0CppwsLzeraVwAAAAACAAAAAAAQZgAAAAEAACAAAAB4bL8SLyXqGF90EPwMj4oxttmYgm54dbRkiwCBOQaNqAAAAAAOgAAAAAIAACAAAAC4kPC6/WihGagtWw+lBwi9CLfr2xNFgqmF67Amn4JZuzAAAABRLCJrQkFHqszmy3mEelui3ZC+4EULbjeLZK1EMbfrumPygTje/j29mR6juPVpNVBAAAAAQ3khkr7D/T1CPaVUl79XsaFkr9wV0o+M44OemuPywEjERA8esSL0fc7jJKCMT8nWkQsScX+jTej/Q4P4hnCs4Q==" />
  </apikeys>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="NuGet official package source" value="https://www.nuget.org/api/v2/package" />
  </packageSources>
</configuration>